.container {
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    flex-direction: column;
    position: relative;
}
/*----------------------------------Header Banner---------------------------*/
.header-banner {
    background-color: #e62b00;
    display: flex;
    justify-content: center;
}
.banner-text {
    color: white;
    font-size: 1rem;
    font-weight: 700;
    line-height: 2.5rem;
}
.banner-close {
    position: absolute;
    right: 1rem;
    top: .5rem;
}
.banner-close > span {
    color: white;
}

/*----------------------------------Action Banner---------------------------*/

.action-banner {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    border-bottom: solid #ebebeb 1px;
}
.wrapper {
    display: flex;
    width: 90%;
    height: 100%;
    justify-content: space-between;
}
.wrapper-ul {
    display: flex;
    margin: 0px;
    padding: 0px;
}
.wrapper-li {
    display: flex;
    height: 100%;
    width: 50%;
    padding: 5px 10px 5px 10px;
    color: #616161;
}
/*----------------------------------Menu Banner---------------------------*/
.sticky {
    position: sticky;/*??*/
    top: -70px;
    z-index: 2;
}
.menu-banner {
    position: sticky;/*??*/
    top: 0;
    z-index: 2;
    background-color: white;
    display: flex;
    justify-content: center;
    height: 10vh;
    border-bottom: solid #ebebeb 1px;
}
.menu-name {
    display: flex;
}
.menu-title {
    display: flex;
    align-items: center;
    margin:0px 10px;
    color: #e62b00;
    font-size: 1.5rem;
}
.menu-ul-div {
    display: flex;

}
.menu-ul {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100%;
}
.menu-li {
    display: flex;
    align-items: center;
    padding: 0 18px;
    height: 100%;
}
.menu-li > span {
    font-size: 1.25rem;
    font-weight: bold;
}
.menu-search {
    display: flex;
    align-items: center;
}
.menu-search > input {
    display: flex;
    padding: 10px 20px 10px 20px;
}
/*----------------------------------Main Body---------------------------*/
.main-body {
    padding: 0 2rem;
}
.breadcrumb {
    margin: 16px 0;
}
.breadcrumb-element {
    margin-right: 3px;
    font-size: 12px;
    color: #252525;
}
.category-title {
    margin: 20px 0;
    text-align: center;
}
.category-title > h1 {
    font-size: 60px;
}
.filters {
    display: flex;
    justify-content: space-between;
}
.productList {
    display: flex;
    margin: 20px 0;
    flex-wrap: wrap;
    justify-content: space-around;
}
.productInfo {
    display: flex;
    flex-direction: column;
    margin: 0 80px 40px 0;
    flex: 0 0 20%;
}
.productImage {

}
.productImage > img {
    width: 100%;
    min-width: 260px;
}
.productContent {
    margin: 10px 0;
}
.rating {

}
.rating > span {
    color: chocolate;
}
.rating > span > li {
}
.productName {

}
.productName > h3 {
    font-weight: initial;
    margin: 5px 0;
}
.productPricing {

}
.productPricing > span {
    color: darkgrey;
}
.productSwatches {

}
.swatchList {
    display: flex;
    padding: 0;
    margin: 10px 0;
}
.swatchList > li {
    display: flex;
    margin: 0 5px;
}
.swatchList > li > img {
   width: 20px;
    height: 20px;
}
.productPromo {

}
.productPromo > span {
    color: #cc331e;
}

/*----------------------------------Main Body---------------------------*/
footer {
    padding: 50px 0 48px;
    background-color: whitesmoke;
}
.footerDiv {
    display: flex;
}
.footerColumn {
    display: flex;
    flex-direction: column;
}
.footerSmallTitle {
    font-weight: bold;
    font-size: 1.25rem;
    /*color: #e62b00;*/
}
.footerColumn > ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}
.footerColumn > ul > li {
    margin: 7px 0;
    color: darkgrey;
}
.subscribeArea {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 2rem;
}
.subscribeArea > p {
    font-weight: 700;
    font-size: 1rem;

}
.email {
    display: flex;

}
.emailInputArea {
    box-sizing: border-box;
    height: 3rem;
    border : 1px solid #d7d7d7;
    border-radius: 5px 0 0 5px;
    padding: 10px 44px 10px 16px;
    color: #252525;
    caret-color: #252525;
    font-size: .875rem;
    line-height: 1.75rem;
    font-weight: 400;
    text-indent: 0;
}
.emailBtn {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    transition: all .4s ease;
    border-radius: 0 5px 5px 0;
    height: 3rem;
    line-height: 2.5rem;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0;
    text-decoration: none;
    text-transform: capitalize;
    border: 4px solid transparent;
    background: #252525;
    color: #ffffff;
    min-width: 6.25rem;
}